@page
@inherits FS.Abp.JobsManagement.Web.Pages.JobsManagementPage
@model FS.Abp.JobsManagement.Web.Pages.JobsManagement.IndexModel
@{
}
<h1>JobsManagement</h1>
<p>A sample page for the JobsManagement module.</p>